@model WebShop.Models.ViewModels.Cart.CartVM

@*@if (Request.IsAuthenticated)
    {*@
<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Your Cart</span>
        <div class="qty">@Model.Quantity</div>
    </a>
    <div class="cart-dropdown">
        @if (ViewBag.CartVMList != null)
        {
            <div class="cart-list">
                @foreach (var product in ViewBag.CartVMList)
                {
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="/Images/Uploads/Products/@product.ProductId/Thumbs/@product.Image">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="/shop/product-details/@product.Slug">@product.ProductName</a></h3>
                            <h4 class="product-price"><span class="qty">@product.Quantity x</span>$@product.Price</h4>
                        </div>
                        <button class="delete"><i class="fa fa-close"></i></button>
                    </div>
                }
            </div>
            <div class="cart-summary">
                <small class="qty">@Model.Quantity products(s) selected</small>
                <h5 class="subtotal">SUBTOTAL: $@ViewBag.GrandTotal</h5>
            </div>
            <div class="cart-btns">
                <a href="#">View Cart</a>
                <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        }
        else
        {
            <div>
                <h4 class="text-center">Your cart is empty.</h4>
            </div>
        }
    </div>
</div>
@* } *@