<div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>
<!-- row -->
<div class="row hidden" id="postCheckoutDiv">
    <i class="fa fa-shopping-cart"></i>
    <h3 class="text-center">Thank you for purchasing</h3>
    <h5 class="text-center">Your order was completed successfully</h5>
    <a href="javascript:history.back()" class="btn back"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</a>
</div>
<!-- /row -->
