@model WebShop.Models.ViewModels.Shop.CheckoutPartialVM

@using (Html.BeginForm("CheckoutPartial", "Cart", FormMethod.Post))
{
    <div class="payment-method">
        @foreach (var payment in Model.PaymentMethod.ToList())
        {
            <div class="input-radio">
                <input type="radio" name="payment" id="@payment.PaymentMethodId">
                <label for="@payment.PaymentMethodId">
                    <span></span>
                    @payment.PaymentMethodName
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        }
    </div>
    <div class="input-checkbox">
        <input type="checkbox" id="terms" required>
        <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms & conditions</a>
        </label>
    </div>
    <a href="#" class="placeorder primary-btn order-submit">Place order</a>
}
