@model IEnumerable<WebShop.Models.ViewModels.Account.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Orders</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section" id="body-section">
    <!-- container -->
    <div class="container">

        @if (!Model.Any())
        {
            <h3 class="text-center text-danger">You have no orders.</h3>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Order Number
                    </th>
                    <th>
                        Order Details
                    </th>
                    <th>
                        Created At
                    </th>
                    <th>
                        Total
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNumber)
                        </td>
                        <td>
                            @foreach (var item2 in item.ProductsAndQty)
                            {
                                @item2.Key @:x @item2.Value <br />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
</div>