@model IEnumerable<WebShop.Models.ViewModels.Shop.CategoryVM>

@{
    string tempCategoryName = (string)TempData["CategoryName"];
}

@foreach (var item in Model)
{

    if (tempCategoryName == item.Name)
    {
        <li class="active"><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
    }
    else
    {
        <li><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>
    }
}

