@model WebShop.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<!-- SECTION -->
<div class="section min-height">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @if (Model.GalleryImages.Any())
                    {
                        foreach (var image in Model.GalleryImages)
                        {
                            <div class="product-preview">
                                <img src="/Images/Uploads/Products/@Model.Id/Gallery/@image" alt="">
                            </div>
                        }
                    }
                    else
                    {
                        <h5 class="text-center text-danger">There are no images in product gallery.</h5>
                    }
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @if (Model.GalleryImages.Any())
                    {
                        foreach (var image in Model.GalleryImages)
                        {
                            <div class="product-preview">
                                <a class="fancybox" rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@image">
                                    <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" alt="">
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Name</h2>
                    <div>
                        <h3 class="product-price">$@Model.NewPrice <del class="product-old-price">$@Model.Price</del></h3>
                    </div>
                    <p class="product-description">@Model.Description</p>

                    @if (!User.IsInRole("Admin"))
                    {
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Quantity
                                <div class="input-number">
                                    <input type="number" id="qty" value="1"/>
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <a href="javascript:" data-id="@Model.Id" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
<br />
<br />

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section Scripts {
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
        $(function () {
            /*
            * Fancybox
            */
            $(".fancybox").fancybox();
            ////////////////////////////////////////////////////////

            /*
            * Hide old price if there is no discount
            */
            if (@Model.Price===@Model.NewPrice) {
                $(".product-old-price").hide();
            }
            ////////////////////////////////////////////////////////

        });
    </script>
}
